
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f4f4;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background: #111;
  color: white;
  align-items: center;
  height: 30px;
}

.header nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* Hero */


/* Products */
.products {
  padding: 50px;
  background: white;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.card {
  background: #fafafa;
  padding: 15px;
  border-radius: 10px;
}

/* About */
.about, .contact {
  padding: 50px;
  background: #eee;
}

/* Contact */
.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

/* Footer */

.product-image {
  width: 100%;
  border-radius: 8px;
  height: 300px;
}
/* HERO */
.hero {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://images.unsplash.com/photo-1490481651871-ab68de25d43d");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  height: 90vh;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.hero-content h1 {
  font-size: 64px;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 18px;
  max-width: 600px;
  margin: auto;
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 30px;
  background: #000;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

.btn-secondary {
  background: #222;
}

/* FEATURES */
.features {
  padding: 10px 20px;
  text-align: center;
}

.feature-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.feature-card {
  background: #f7f7f7;
  padding: 30px;
  border-radius: 10px;
}

/* HIGHLIGHT */
.highlight {
  padding: 70px 40px;
  background: #000;
  color: white;
  text-align: center;
}

/* CTA */
.cta {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.10),
      rgba(0, 0, 0, 0.05)
    ),
    url("https://images.unsplash.com/photo-1519741497674-611481863552");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
  padding: 100px 40px;
  text-align: center;
}
.cta h2 {
  font-size: 42px;
  margin-bottom: 15px;
}

.cta p {
  font-size: 18px;
  opacity: 0.9;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}

.feature-card {
  transition: all 0.3s ease;
}

.feature-card:hover {
  background: #000;
  color: white;
  transform: scale(1.05);
}
.btn-primary,
.btn-secondary {
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

.btn-secondary:hover {
  background: #e4dbdb;
  color: #fff;
}
.product-image {
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.card:hover .product-image {
  transform: scale(1.08);
}
input{
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 10px;
}
/* ABOUT HERO */
.about-hero {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://images.unsplash.com/photo-1490481651871-ab68de25d43d");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding: 120px 40px;
  text-align: center;
  height: 250px;
}

.about-hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.about-hero p {
  max-width: 700px;
  margin: auto;
  opacity: 0.9;
}

/* ABOUT CONTENT */
.about-content {
  padding: 80px 40px;
  max-width: 1100px;
  margin: auto;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;  
  background-color: #e8e8e1;
}

.about-text h2 {
  margin-top: 40px;
  margin-bottom: 10px;
}

.about-text p {
  line-height: 1.7;
  color: #555;
}

.about-list {
  margin-top: 15px;
  padding-left: 20px;
}

.about-list li {
  margin-bottom: 10px;
}

/* VALUES */
.about-values {
  background: #f7f7f7;
  padding: 80px 40px;
  text-align: center;
  background-color: #898484;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.value-card {
  background: white;
  padding: 30px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.value-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
}
.footer {
  background: #111;
  color: #ddd;
  padding: 60px 40px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-section h3,
.footer-section h4 {
  color: #fff;
  margin-bottom: 15px;
}

.footer-section p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 15px;
  border-top: 1px solid #333;
  font-size: 14px;
}
